<!-- ======= user view order products end =======-->

{{#if products}}
<section class="pt-5">
  <div class="container">
    <div class="row">
      <table class="table mt-5" id="customers">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td><img style="width: 50px;height: 50px;" src="/product-images/{{this.product._id}}.jpg"></td>
            <td>{{this.product.name}}</td>
            <td>₹{{this.product.price}}</td>
            <td>
              <span id="{{this.product._id}}">{{this.quantity}}</span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>

{{else}}
<h1 class="text-center mt-5">No Orders Placed</h1>
{{/if}}

<!-- ======= user view order products end =======-->

<!-- ======= user view order products style start =======-->

<style>
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }


  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #customers {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .cart-item-count:hover {
    cursor: pointer;
  }
</style>

<!-- ======= user view order products style end =======-->
